/*
==========================
COLORS
==========================
*/
$theme-blue: #489BE2;
$light-blue: #E5E9FA;
$grass-green: #1BA572;

$grey: #95989A;
$dark-grey: #757575;


/*
==========================
FONTS
==========================
*/
$tab-font: "Helvetica Neue", Helvetica, 'Varela Round', sans-serif;


/*
==========================
COMPONENTS
==========================
*/