@import '_variables.scss';

/*
==========================
GRID
==========================
*/

.new-project-body {
  @include html-body-fontfamily;
}

.new-project-container {
  max-width: 1080px;
  font-family: $font;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: auto;
  grid-template-areas: '. a a a b b .';
  grid-gap: 10px;
}

.box-1 {
  width: 85%;
  grid-area: a;
  margin: 0 auto;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'c d';
  border: 1px solid $light-grey;
}

.box-2 {
  margin: 0 auto;
  padding: 30px;
  grid-area: b;
  border: 1px solid $light-grey;
}

.box-1-a {
  margin: 0 auto;
  grid-area: c;
}

.box-1-b {
  margin: 0 auto;
  grid-area: d;
  padding-left: 30px;
}

.new-project-checkbox-container {
  margin-bottom: 15px;
}

.new-project-max-width {
  max-width: 260px;
}

/*
==========================
FORM LABELS
==========================
*/

.newProjectSubText {
  display: block;
  font-size: 10px;
  color: $dark-grey;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 700;
  max-width: 260px;
}

.new-project-text {
  font-size: 14px;
  color: $dark-grey;
}

/*
==========================
INPUT & TEXTAREA
==========================
*/

.new-project-input,
.new-project-textarea {
  width: 250px;
  height: 25px;
  color: $dark-grey;
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid $light-grey;
}

input[type='date'],
textarea {
  font-family: $font;
}

.new-project-textarea {
  min-height: 96px;
  max-width: 250px;
  min-width: 250px;
}

/*
==========================
DROPDOWNS
==========================
*/

.new-project-dropdown-btn,
.new-project-category-content {
  background-color: white;
  border: 1px solid $light-grey;
  width: 260px;
}

.new-project-dropdown-btn {
  height: 35px;
  padding: 5px;
  color: $dark-grey;
  margin-bottom: 20px;
}

.new-project-category-content {
  display: none;
  position: absolute;
  box-shadow: $box-shadow;
  z-index: 1;
  max-height: 150px;
  overflow: scroll;
  overflow-x: hidden;
}

.new-project-dropdown-text {
  display: block;
  text-decoration: none;
  color: $dark-grey;
  padding: 5px 10px 5px 10px;
  background-color: white;
  border: none;
  width: 100%;
}

.new-project-dropdown-text:hover {
  display: block;
  text-decoration: none;
  color: $theme-blue;
  background-color: $light-blue;
}

.search-input-box {
  width: 100%;
  border: none;
  box-shadow: $box-shadow;
  text-align: center;
  height: 25px;
}
.search-input-box::placeholder {
  color: $light-grey;
}
/*
==========================
SCROLLBAR
==========================
*/

.new-project-category-content::-webkit-scrollbar,
.new-project-textarea::-webkit-scrollbar {
  width: 10px;
}

.new-project-category-content::-webkit-scrollbar-track,
.new-project-textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px $light-grey;
}

.new-project-category-content::-webkit-scrollbar-thumb,
.new-project-textarea::-webkit-scrollbar-thumb {
  background-color: $light-grey;
  outline: 1px solid $light-blue;
  border-radius: 5px;
}

.new-project-category-content::-webkit-scrollbar-thumb:hover,
.new-project-textarea::-webkit-scrollbar-thumb:hover {
  background-color: $theme-blue;
}

/*
==========================
TAGS
==========================
*/

.array-of-tags {
  margin-top: -20px;
  max-width: 260px;
}

.tag-container {
  display: inline-block;
  margin-right: 5px;
}

.new-project-chosen-tag {
  border: none;
  background-color: white;
  color: $theme-blue;
}

.remove-tag-btn {
  border: none;
  background-color: white;
  color: $light-grey;
}

/*
==========================
BUTTON
==========================
*/

.new-project-submit-btn {
  @include white-text-blue-background-button;
  margin: 0 auto;
  display: relative;
  width: 260px;
}

.uploadImageBtn {
  background-color: white;
  color: $dark-grey;
  max-width: 260px;
}

.uploadImageBtn::-webkit-file-upload-button {
  color: $dark-grey;
  display: inline-block;
  background: white;
  border: 1px solid $light-grey;
  padding: 7px 15px;
  white-space: nowrap;
  cursor: pointer;
}

.upload-img-btn,
.upload-img-delete-btn {
  margin-bottom: 20px;
  display: inline-block;
  box-shadow: none;
  border: none;
  padding: 10px;
  margin-top: 10px;
  width: 130px;
}

.upload-img-btn {
  background-color: $light-blue;
  color: $theme-blue;
}

.upload-img-delete-btn {
  background-color: $light-red;
  color: $attention-red;
}

/*
==========================
IMAGE UPLOAD PREVIEW CONTAINER
==========================
*/

#new-project-image-preview {
  margin-bottom: 20px;
  max-width: 260px;
}

/*
==========================
LOADER
==========================
*/

#new-project-image-loader {
  margin: 0 auto;
  border: 8px solid $light-grey;
  border-top: 8px solid $theme-blue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  display: none;
  margin-bottom: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*
==========================
TOGGLE SHOW / HIDE
==========================
*/

.new-project-show {
  display: block;
}
