/*
==========================
COLORS
==========================
*/
/*
==========================
FONTS
==========================
*/
/*
==========================
COMPONENTS
==========================
*/
/*
==========================
BUTTON
==========================
*/
/*
==========================
LOGIN / REGISTER COMPONENTS
==========================
*/
/*
==========================
GRID
==========================
*/
.new-project-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  grid-template-areas: '. a a a b b .';
  grid-gap: 10px;
}

.box-1 {
  grid-area: a;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'c d';
  border: 1px solid #d1d1d1;
}

.box-2 {
  grid-area: b;
  border: 1px solid #d1d1d1;
}

.box-1-a {
  grid-area: c;
}

.box-1-b {
  grid-area: d;
}

/*
==========================
FORM LABELS
==========================
*/
.newProjectSubText {
  display: block;
  font-size: 10px;
  color: #757575;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 700;
}

.new-project-input {
  height: 25px;
  color: #d1d1d1;
  padding: 5px;
  margin-bottom: 20px;
}
