@import "_variables.scss";

/*
==========================
COMPONENTS
==========================
*/
.footer-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas: ". c . n . a a . s s s . "; 
    background-color: $theme-blue; 
    color: white;
    padding: 60px 0px 80px 0px;
    margin: 0px;
}


a {
    text-decoration: none; 
}

h5 { 
    font-size: $footer-font-size;
    font-family: $font;
    text-align: left;
    margin: 0px;
}

.footer-subtitle {
    font-size: $footer-subheader-font-size;
    padding-bottom: 15px;
    text-transform: uppercase ;
}

.footer-subcategories {
    font-weight: 100;
    padding-top: 10px;
    margin: 0px;
}
/*
==========================
Contact Us
==========================
*/
.contactUs {
    grid-area: c;
}

/*
==========================
Need Help
==========================
*/
.needHelp {
    grid-area: n;
}

/*
==========================
About
==========================
*/
.about{
    grid-area: a;
}
/*
==========================
Subscribe
==========================
*/
.subscribe{
    grid-area: s;
}

.emailInput{
    float: left;
    border: 1px solid white;
    padding: 5px;
    background-color: $theme-blue;
    color: white;
    text-transform: capitalize;
}

.emailInput::placeholder {
    color: white;
}

.subscribeButton{
    float: left;
    border: none;
    background-color: white;
    color: $theme-blue;
    text-transform: capitalize;
    font-size: $footer-subheader-font-size;
    margin-left: 5px;
    padding: 9px;
    font-weight: 700;
}
