/*
==========================
COLORS
==========================
*/
/*
==========================
FONTS
==========================
*/
/*
==========================
COMPONENTS
==========================
*/
/*
==========================
BUTTON
==========================
*/
/*
==========================
LOGIN / REGISTER COMPONENTS
==========================
*/
body {
  position: relative;
  z-index: -1;
}

.header-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 't t t . . . . .  . l s s s';
}

a {
  text-decoration: none;
}

/*
==========================
LOGO
==========================
*/
.logo {
  grid-area: t;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Varela Round',
    sans-serif;
  color: #489be2;
  font-size: 24px;
  font-weight: 700;
  margin: auto;
}

/*
==========================
LOG IN
==========================
*/
.login {
  grid-area: l;
  background: none;
  border: none;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Varela Round',
    sans-serif;
  font-size: 14px;
  margin: auto;
}

.loginText {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Varela Round',
    sans-serif;
  color: #757575;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 700;
  border: none;
  background-color: white !important;
}

/*
==========================
SIGNUP BUTTON
==========================
*/
.signUp {
  grid-area: s;
  background: none;
  border: none;
  margin: auto;
}

.signUpText {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Varela Round',
    sans-serif;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
}

.signUpButton {
  border: none;
  box-shadow: 0px 3px 6px #d1d1d1;
  background-color: #489be2;
  vertical-align: middle;
}

/*
==========================
LOGIN SCREEM
==========================
*/
.loginScreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 5;
  width: 350px;
  height: 550px;
  border: 3px solid #489be2;
  box-shadow: 12px 12px 2px #e5e9fa;
  background-color: white;
}

.extAuthBtn {
  width: 325px;
  height: 35px;
  margin: 15px;
  text-align: left;
  background-color: white;
  border: 1px solid #d1d1d1;
  font-size: 11px;
  color: #d1d1d1;
  padding: auto;
}

.extAuthIcon {
  object-fit: cover;
  width: 24px;
  height: 24px;
}

.emailDiv {
  padding-top: 10%;
  margin: 2%;
}

.passwordDiv {
  margin: 2%;
}
