/*
==========================
COLORS
==========================
*/
/*
==========================
FONTS
==========================
*/
/*
==========================
COMPONENTS
==========================
*/
/*
==========================
BUTTON
==========================
*/
body {
  position: relative;
  z-index: -1;
}

.header-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 't t t . . . . .  . l s s s';
}

a {
  text-decoration: none;
}

/*
==========================
LOGO
==========================
*/
.logo {
  grid-area: t;
  font-family: 'Helvetica Neue', Helvetica, 'Varela Round', sans-serif;
  color: #489be2;
  font-size: 14px;
}

/*
==========================
LOG IN
==========================
*/
.login {
  grid-area: l;
  background: none;
  border: none;
  font-family: 'Helvetica Neue', Helvetica, 'Varela Round', sans-serif;
  font-size: 14px;
  margin: auto;
}

.loginText {
  font-family: 'Helvetica Neue', Helvetica, 'Varela Round', sans-serif;
  color: #757575;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
}

/*
==========================
SIGNUP BUTTON
==========================
*/
.signUp {
  grid-area: s;
  background: none;
  border: none;
  margin: auto;
}

.signUpText {
  font-family: 'Helvetica Neue', Helvetica, 'Varela Round', sans-serif;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
}

.signUpButton {
  border: none;
  box-shadow: 0px 3px 6px #d1d1d1;
  background-color: #489be2;
  vertical-align: middle;
}

/*
==========================
LOGIN SCREEM
==========================
*/
.loginScreen {
  position: fixed;
  width: 500px;
  height: 650px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: white;
  z-index: 5;
  border: 5px solid #489be2;
}

.loginScreen-header {
  vertical-align: top;
  color: #489be2;
}

.loginScreen-button-google {
  border: 1px solid #d1d1d1;
  background-color: white;
  color: grey;
  height: 35px;
  width: 324px;
}

.loginScreen-button-facebook {
  border: 1px solid #d1d1d1;
  background-color: white;
  vertical-align: middle;
  color: grey;
  height: 35px;
  width: 324px;
}

.emailDiv {
  padding-top: 10%;
  margin: 2%;
}

.passwordDiv {
  margin: 2%;
}
