@import "_variables.scss";
body{
    position: relative;
    z-index: -1;
}
.header-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "t t t . . . . .  . l s s s"
    }

a{
    text-decoration: none;
}

/*
==========================
LOGO
==========================
*/
.logo{
    grid-area: t;
    font-family: $font;
    color: $theme-blue;
    font-size: $header-font-size;
}
/*
==========================
LOG IN
==========================
*/
.login{
    grid-area: l;
    background: none;
    border: none;
    font-family: $font;
    font-size: $header-font-size;
    margin: auto;
}

.loginText{
    font-family: $font;
    color: #757575;
    text-align: center;
    vertical-align: middle;
    font-size: $header-font-size;
}
/*
==========================
SIGNUP BUTTON
==========================
*/
.signUp{
    grid-area: s;
    background: none;
    border: none;
    margin: auto;
}

.signUpText{
    font-family: $font;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: $header-font-size;
    padding-left: 5px;
    padding-right: 5px;
}

.signUpButton{
    border: none;
    box-shadow: $box-shadow;
    background-color: $theme-blue;
    vertical-align: middle;
}

/*
==========================
LOGIN SCREEM
==========================
*/

.loginScreen{
  position: fixed;
  width: 500px;
  height: 650px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: white;
  z-index: 5;
  //border-radius: 11%;
  border: 5px solid $theme-blue;
}


.loginScreen-header{
    vertical-align: top;
    color: $theme-blue;
}

.loginScreen-button-google{
    border: 1px solid $light-grey;
    background-color: white; 
    color: grey;
    height: 35px;
    width: 324px;
}

.loginScreen-button-facebook{
    border: 1px solid $light-grey;
    background-color: white;
    vertical-align: middle;
    color: grey;
    height: 35px;
    width: 324px;
}

.emailDiv{
padding-top: 10%;
margin: 2%;
}

.passwordDiv{
margin: 2%;
}