@import "_variables.scss";
body {
    position: relative;
    z-index: -1;
}

.header-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "t t t . . . . .  . l s s s"
}

a {
    text-decoration: none;
}


/*
==========================
LOGO
==========================
*/

.logo {
    grid-area: t;
    font-family: $font;
    color: $theme-blue;
    font-size: $logo-font-size;
    font-weight: 700;
    margin: auto;
}


/*
==========================
LOG IN
==========================
*/

.login {
    grid-area: l;
    background: none;
    border: none;
    font-family: $font;
    font-size: $header-font-size;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.loginText {
    font-family: $font;
    color: #757575;
    text-align: center;
    vertical-align: middle;
    font-size: $header-font-size;
    font-weight: 700;
    border: none;
    background-color: white !important;
}


/*
==========================
SIGNUP BUTTON
==========================
*/

.signUp {
    grid-area: s;
    background: none;
    border: none;
    margin: auto;
}

.signUpText {
    font-family: $font;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: $header-font-size;
    padding-left: 5px;
    padding-right: 5px;
}

.signUpButton {
    border: none;
    box-shadow: $box-shadow;
    background-color: $theme-blue;
    vertical-align: middle;
}


