/*
==========================
COLORS
==========================
*/
/*
==========================
FONTS
==========================
*/
/*
==========================
COMPONENTS
==========================
*/
.image {
  background-color: #e5e9fa;
  width: 1000px;
}

.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Helvetica Neue', Helvetica, 'Varela Round', sans-serif;
  color: #489be2;
}
