@import "_variables.scss";

.landing-image-container {
    display: block;
}

/*
==========================
MAIN IMAGE WITH SKY AND GRASS
==========================
*/
.landing-image{
    height: 65vh;
    z-index: 3;
    margin-left: 23vw;
    position: relative;
    margin-top: -270px;
}

.blue-sky {
    background-color: $light-blue;
    z-index: 1;
    position: relative;
    height: 76vh;
}

.green-grass {
    background-color: $grass-green;
    position: relative;
    height: 12vh;
    z-index: 2;
    top: -10.5vh;
}

/*
==========================
LANDING TEXT
==========================
*/
.landing-header,.landing-subtext, .exploreProjectsBtn   {
    position: relative;
    font-family: $font;
    color: $theme-blue;
    z-index: 4;
    display: block;
    margin-left: 18vw;
}
.landing-header {
    font-size: $landing-header-size;
    font-weight: 700;
    padding-top: 150px;
    float: left;
}

.landing-subtext {
    font-size: $landing-subtext-size;
    text-align: left;
    font-weight: 300;
    padding-top: 210px;
    width: 400px;
    line-height: 20px;
}
/*
==========================
BUTTON
==========================
*/
.exploreProjectsBtn {
    margin-top: 25px;
    @include white-text-blue-background-button;
}