/*
==========================
COLORS
==========================
*/
/*
==========================
FONTS
==========================
*/
/*
==========================
COMPONENTS
==========================
*/
.landing-image-container {
  display: block;
}

/*
==========================
MAIN IMAGE WITH SKY AND GRASS
==========================
*/
.landing-image {
  width: 950px;
  z-index: 3;
  margin-left: 23vw;
  position: relative;
  margin-top: -220px;
}

.blue-sky {
  background-color: #e5e9fa;
  z-index: 1;
  position: relative;
}

.green-grass {
  background-color: #1ba572;
  top: -65px;
  position: relative;
  height: 100px;
  z-index: 1;
}

/*
==========================
LANDING TEXT
==========================
*/
.landing-header,
.landing-subtext {
  position: relative;
  font-family: 'Helvetica Neue', Helvetica, 'Varela Round', sans-serif;
  color: #489be2;
  z-index: 4;
  display: block;
  margin-left: 20vw;
}

.landing-header {
  font-size: 34px;
  font-weight: 700;
  padding-top: 150px;
  float: left;
}

.landing-subtext {
  font-size: 16px;
  text-align: left;
  font-weight: 300;
  padding-top: 200px;
  width: 400px;
  line-height: 20px;
}
