@import "_variables.scss";

.landing-image-container {
    display: block;
}

/*
==========================
MAIN IMAGE WITH SKY AND GRASS
==========================
*/
.landing-image{
    width: 950px;
    z-index: 3;
    margin-left: 23vw;
    position: relative;
    margin-top: -270px;
}

.blue-sky {
    background-color: $light-blue;
    z-index: 1;
    position: relative;
}

.green-grass {
    background-color: $grass-green;
    top: -78px;
    position: relative;
    height: 100px;
    z-index: 1;
}

/*
==========================
LANDING TEXT
==========================
*/
.landing-header,.landing-subtext, .exploreProjectsBtn   {
    position: relative;
    font-family: $font;
    color: $theme-blue;
    z-index: 4;
    display: block;
    margin-left: 18vw;
}
.landing-header {
    font-size: $landing-header-size;
    font-weight: 700;
    padding-top: 150px;
    float: left;
}

.landing-subtext {
    font-size: $landing-subtext-size;
    text-align: left;
    font-weight: 300;
    padding-top: 210px;
    width: 400px;
    line-height: 20px;
}
/*
==========================
BUTTON
==========================
*/
.exploreProjectsBtn {
    margin-top: 25px;
    border: none;
    color: white;
    background-color: $theme-blue;
    padding: 15px;
    font-size: $button-font-size;
    font-weight: 700;
    box-shadow: $box-shadow;
}