/*
==========================
COLORS
==========================
*/
/*
==========================
FONTS
==========================
*/
/*
==========================
COMPONENTS
==========================
*/
/*
==========================
BUTTON
==========================
*/
/*
==========================
LOGIN / REGISTER COMPONENTS
==========================
*/
body {
  position: relative;
  z-index: -1;
}

.logged-in-header-container {
  max-height: 75px;
  background-color: #489be2;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 't t t . d d d d . l s s s';
}

a {
  text-decoration: none;
}

/*
==========================
LOGO
==========================
*/
.logged-in-header-logo {
  grid-area: t;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Varela Round',
    sans-serif;
  color: white;
  font-size: 24px;
  font-weight: 700;
  margin: auto;
}

/*
==========================
LOGGED IN
==========================
*/
.logged-in-header-create {
  grid-area: l;
  background: none;
  border: none;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Varela Round',
    sans-serif;
  font-size: 14px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  white-space: nowrap;
}

.logged-in-header-createButton {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Varela Round',
    sans-serif;
  color: white;
  background-color: #489be2;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 700;
  border: none;
}

/*
==========================
PROFILE IMAGE
==========================
*/
.logged-in-header-profileImageDiv {
  grid-area: s;
  background: none;
  border: none;
  margin: auto;
}

.logged-in-header-profileImageButton {
  width: 2.5vw;
  height: 2.5vw;
  border: 1px solid #489be2;
  border-radius: 100%;
  background-color: grey;
  padding: 0%;
}

.profileImage {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

/*
==========================
DROPDOWN MENU
==========================
*/
.dropbtn {
  background-color: #489be2;
  color: white;
  font-weight: 700;
  padding: 16px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Varela Round',
    sans-serif;
  font-size: 24px;
  border: none;
  white-space: nowrap;
  margin: 5px;
}

.dropdown {
  grid-area: d;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
}

.dropdown-content a {
  color: grey;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Varela Round',
    sans-serif;
  font-size: 20px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8cd1;
}

.dropdown-profileLink {
  border-top: 2px solid black;
}
