@import '_variables.scss';
body {
  position: relative;
  z-index: -1;
}

.logged-in-container-blue {
  background-color: $theme-blue;
}

.logged-in-header-container,
.logged-in-header-container-sub-1080,
.logged-in-header-container-sub-725 {
  font: $font;
  max-width: 1080px;
  max-height: 75px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto;
}

.logged-in-header-container {
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 't d d s';
}

.logged-in-header-container-sub-1080 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 't d s';
}

.logged-in-header-container-sub-1080 {
  display: none;
}

.logged-in-header-container-sub-725 {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 't s';
}

a {
  text-decoration: none;
}

.logged-in-header-container-right {
  grid-area: s;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 'a a b';
}

/*
==========================
LOGO
==========================
*/

.logged-in-header-logo {
  grid-area: t;
  color: white;
  font-size: $logo-font-size;
  font-weight: 700;
  margin: auto;
  margin-left: 0px;
}

/*
==========================
CREATE NEW PROJECT BTN
==========================
*/

.logged-in-header-createButton {
  color: white;
  background-color: $theme-blue;
  font-size: $header-font-size;
  font-weight: 700;
  border: none;
  grid-area: a;
  margin: auto;
  padding: 8px;
}

/*
==========================
PROFILE IMAGE
==========================
*/

.logged-in-header-profileImageDiv {
  margin: 0 auto;
  grid-area: b;
  position: relative;
}

.logged-in-header-profileImageButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $theme-blue;
  border: 1px solid $theme-blue;
}

.profileImage {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

/*
==========================
SETTINGS DROPDOWN MENU
==========================
*/

.headerOptionsDropdown {
  background-color: white;
  z-index: $header-dropdown-z;
  position: absolute;
  width: 120px;
  margin-left: -80px;
  margin-top: 10px;
  display: none;
  box-shadow: $box-shadow;
  padding: 10px;
}

.headerOptionsDropdownText {
  color: $dark-grey;
  padding: 10px;
  display: block;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.lineAbove {
  border-top: 1px solid $light-grey;
}

/*
==========================
PROJECT DROPDOWN MENU
==========================
*/

.dropdown {
  grid-area: d;
  position: relative;
  display: inline-block;
  margin: auto;
}

.dropbtn {
  background-color: $theme-blue;
  color: white;
  font-weight: 700;
  padding: 4px 16px 8px 16px;
  font-family: $font;
  font-size: 14px;
  border: none;
  white-space: nowrap;
  text-align: center;
  margin: auto;
  border-bottom: 1.5px solid white;
  text-transform: uppercase;
  width: 275px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100%;
  box-shadow: $box-shadow;
  z-index: $header-dropdown-z;
}

.header-project-portal-link {
  color: grey;
  font-family: $font;
  font-size: 14px;
  padding: 8px;
  text-decoration: none;
  text-align: center;
  display: block;
  font-weight: 500;
}
.header-project-portal-link:hover {
  background-color: $light-blue;
}
.top-border {
  border-top: 1px solid $light-grey;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-profileLink {
  border-top: 2px solid black;
}

.dropdown-content-title {
  text-align: right;
  font-weight: 700;
  color: $theme-blue;
  font-family: $font;
  padding: 8px;
  font-size: 14px;
  text-transform: uppercase;
}
/*
==========================
MEDIA QUERIES
==========================
*/

@media all and (max-width: 1020px) and (min-width: 0px) {
  .logged-in-header-container {
    display: none;
  }
  .logged-in-header-container-sub-1080 {
    display: grid;
  }
  .logged-in-header-container-right {
    grid-area: s;
    margin-right: 10px;
  }
  .headerOptionsDropdown {
    width: 150px;
    margin-left: -120px;
  }
  .logged-in-header-profileImageButton {
    margin-right: 5px;
  }
  .logged-in-header-logo {
    margin-left: 10px;
  }
}

@media all and (max-width: 775px) and (min-width: 0px) {
  .logged-in-header-container-sub-1080 {
    display: none;
  }
  .logged-in-header-container-sub-725 {
    display: grid;
  }
  .dropdown-content {
    display: block;
    position: relative;
    box-shadow: none;
    z-index: 10;
    border-top: 1px solid $light-grey;
    background-color: $pale-grey;
  }
  .header-project-portal-link {
    text-align: right;
    border: none;
  }
}
