@import '_variables.scss';
/*
==========================
DOCUMENT SETUP
==========================
*/
.project {
  display: inline-block;
  font-family: $font;
}

.projects-container {
  max-width: 1080px;
  display: grid;
  grid-row-gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
  padding: auto;
  margin: auto;
  justify-items: center;
  margin-bottom: 50px;
}

.project-info {
  min-height: 220px;
  border: $border;
  position: relative;
  object-position: center;
  top: -3px;
}

.project-info,
.project-image {
  width: 320px;
}

.project-edit-container {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  display: grid;
  grid-template-areas: 'i i t t t';
  grid-gap: 10px;
  box-shadow: $box-shadow;
  padding: 10px;
  margin-bottom: 30px;
}

.project-edit-info {
  grid-area: t;
  left: -10px;
  border-bottom: 1px solid $light-grey;
}

.project-edit-info-forPublicProfile {
  grid-area: t;
  left: -10px;
}
/*
==========================
IMAGE
==========================
*/
.project-image {
  height: 225px;
  object-fit: cover;
  border: 1px solid $light-grey;
}

.project-edit-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: $border;
  vertical-align: middle;
  border: none;
}

.project-edit-image-container {
  grid-area: i;
}
/*
==========================
NAME & DESCRIPTION
==========================
*/
.project-name {
  font-size: $project-title-size;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  padding: 10px 10px 5px 10px;
  color: $dark-grey;
}

.project-description {
  font-size: $project-description-size;
  overflow: hidden;
  min-height: 110px;
  white-space: pre-line;
  text-overflow: ellipsis;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  color: $dark-grey;
  line-height: 14px;
}

/*
==========================
ROLES
==========================
*/
.project-roles-needed,
.project-roles {
  display: inline-block;
  font-size: 11px;
}
.project-roles-needed {
  padding: 10px;
  padding-left: 10px;
  color: $dark-grey;
  text-transform: lowercase;
  text-align: left;
}
.project-roles {
  color: $theme-blue;
  text-transform: uppercase;
  padding-left: 5px;
}
/*
==========================
SAVE PROJECT BUTTON
==========================
*/
.project-edit-header {
  display: block;
}

.project-save {
  padding: 10px;
  object-fit: cover;
  width: 14px;
  height: 18px;
  float: right;
}

.project-edit-btn,
.project-delete-btn,
.project-project-portal-btn {
  color: white;
  border: none;
  width: 100px;
  display: inline-block;
  padding: 5px;
  cursor: pointer;
  font-size: 12px;
}
.project-edit-btn {
  float: right;
  background-color: $edit-orange;
  text-align: center;
}
.project-delete-btn {
  float: left;
  background-color: $attention-red;
}
.project-project-portal-btn {
  background-color: $theme-blue;
  text-align: center;
}

.project-edit-btn:hover,
.project-delete-btn:hover,
.project-project-portal-btn:hover {
  box-shadow: $box-shadow;
}

// .project-bookmark-btn {
//   background-color: white;
//   border: none;
//   text-align: right;
//   width: 16px;
//   height: 18px;
// }

/*
==========================
TAGS & CATEGORY LINKS
==========================
*/
.project-tags {
  padding: 7px 10px 5px 10px;
  display: block;
}

.projects-tag-links,
.projects-category-links {
  display: inline-block;
  font-size: 11px;
  margin-right: 4px;
  padding: 3px 5px;
}

.projects-tag-links {
  color: $dark-grey;
  border: 1px solid $light-grey;
}
.projects-category-links {
  background-color: $theme-blue;
  color: white;
}

/*
==========================
MEDIA QUERIES
==========================
*/

@media all and (max-width: 1079px) and (min-width: 0px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 675px) and (min-width: 0px) {
  .projects-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
