/*
==========================
COLORS
==========================
*/
/*
==========================
FONTS
==========================
*/
/*
==========================
COMPONENTS
==========================
*/
.project {
  display: inline-block;
}

.projects-container {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(3, 300px);
  grid-auto-rows: 300px;
  justify-content: center;
  align-content: center;
}

.project-image {
  height: 200px;
  width: 300px;
  object-fit: cover;
  border: 1px solid #d1d1d1;
}

.project-info {
  width: 300px;
  height: 125px;
  border: 1px solid #d1d1d1;
  position: relative;
  object-position: center;
}

.project-name {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  padding: 10px;
}

.project-description {
  font-size: 12px;
  overflow: hidden;
  white-space: pre-line;
  text-overflow: ellipsis;
  height: 55px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.project-roles-needed,
.project-roles {
  display: inline-block;
  font-size: 11px;
}

.project-roles-needed {
  padding: 10px;
  color: #757575;
  text-transform: lowercase;
  float: left;
}

.project-roles {
  color: #489be2;
  text-transform: uppercase;
  padding-left: 5px;
}

.project-save {
  padding: 10px;
  object-fit: cover;
  width: 14px;
  height: 18px;
  display: inline-block;
  float: right;
}
