@import "_variables.scss";

.project {
    display: inline-block;
}

.projects-container{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 300px);
    grid-auto-rows: 300px;
    justify-content: center;
    align-content: center;
}

.project-image {
    height: 200px;
    width: 300px;
    object-fit: cover;
    border: $border;
}

.project-info {
    width: 300px;
    height: 100px;
    border: $border;
    position: relative;
    object-position: center;
}

.project-name {
    font-size: $project-title-size;
    font-weight: 700;
    text-transform: uppercase;
}

.project-description {
    font-size: $project-description-size;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.project-roles-needed {

}

.project-save {

}

