@import '_variables.scss';
/*
==========================
PROJECT PORTAL
==========================
*/
.project-portal__container {
  font-family: $font;
  height: 100vh;
  overflow: hidden;
}

.project-portal__info {
  // margin: 0 0 2rem 0;
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  justify-items: center;
  grid-template-areas: 'i i i i c c c';
}

/*
==========================
CAROUSEL
==========================
*/
.project-portal__carousel__background {
  background: $black-grey;
  width: 100%;
  height: 65vh;
  overflow: scroll;
  overflow-x: hidden;
}

.project-portal__carousel {
  background: $black-grey;
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
}

/*
==========================
CAROUSEL & CHAT SCROLLBAR
==========================
*/

.project-portal__carousel__background::-webkit-scrollbar,
.project-portal__chat ::-webkit-scrollbar {
  width: 10px;
}

.project-portal__carousel__background::-webkit-scrollbar-track,
.project-portal__chat ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px $light-grey;
}

.project-portal__carousel__background::-webkit-scrollbar-thumb,
.project-portal__chat ::-webkit-scrollbar-thumb {
  background-color: $light-grey;
  outline: 1px solid $light-blue;
  border-radius: 5px;
}

.project-portal__carousel__background::-webkit-scrollbar-thumb:hover,
.project-portal__chat ::-webkit-scrollbar-thumb:hover {
  background-color: $theme-blue;
}
/*
==========================
REVISIONS
==========================
*/

.revisions-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.revision {
  display: inline-block;
  padding: 25px 10px;
}

.revision__title {
  color: #ffffff;
  margin-bottom: 0;
}

.revision__author {
  color: $light-grey;
  font-size: 14px;
  margin: 5px 0 20px 0;
}

.revision__version {
  color: #ffffff;
  background: $attention-red;
  padding: 5px 15px;
  border: none;
}

.revision__image_container {
  position: relative;
}

.revision__image {
  width: 300px;
  height: 150px;
}

.revision__changes {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -15px;
  right: -15px;
  background: $attention-red;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #ffffff;
}

/*
==========================
ABOUT
==========================
*/
.project-portal__about {
  grid-area: i;
  color: $dark-grey;
  margin: 10px;
  width: 100%;
}

.about__heading {
  h1 {
    margin: 20px 0 5px 0;
  }
  p {
    margin: 0 0 20px 0;
  }
}

.about__description {
  font-size: 14px;
}

/*
==========================
TEAM
==========================
*/
.team__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.team__list-item {
  display: inline-block;
  padding: 0 0 0 10px;
}

.team__thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/*
==========================
CHAT BOX CONTAINER
==========================
*/
.project-portal__chat {
  grid-area: c;
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  margin: 10px;
  margin-top: 20px;
  box-shadow: $box-shadow;
}
/*
==========================
MESSAGES
==========================
*/
.messages {
  overflow: scroll;
  height: 350px;
  overflow-x: hidden;
  padding: 15px;
  color: $dark-grey;
  font-size: 14px;
}

.messages ul {
  padding: 0;
  margin: 0;
}

.message-bar {
  height: 45px;
  display: flex;
  justify-content: center;
}

.message-input {
  width: 100%;
  height: 33px;
  font-size: 16px;
  padding: 5px;
  outline: none;
  border: 1px solid $theme-blue;
  color: $dark-grey;
}
.message-input:disabled {
  background-color: $pale-grey;
}

.message-send {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $theme-blue;
  color: #ffffff;
  height: 45px;
  width: 42px;
}

/*
==========================
MESSAGE
==========================
*/
.message {
  display: flex;
  padding: 5px 0;
  flex-direction: column;
  color: $dark-grey;
}

.message__sender {
  margin: 0;
  font-size: 16px;
}

.message__thumbnail {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px 0 0;
}

.message__body {
  padding: 0;
}

.message__time {
  font-size: 0.8rem;
}

.message__text {
  padding: 5px 0;
  margin: 0;
  font-size: 14px;
}

/*
==========================
UPLOAD LINK
==========================
*/
.upload-link__container {
  height: 100px;
  position: relative;
}

.upload-link {
  position: absolute;
  top: 50px;
  right: 25px;
  color: #ffffff;
  text-decoration: none;
}

.upload-link svg {
  padding: 0 0 0 10px;
}

/*
==========================
ABOUT
==========================
*/
.about__body {
  display: flex;
  width: 100%;
}

.about__description {
  width: 65%;
}

.about__links {
  list-style: none;
}

.about__links li {
  padding: 0 0 10px 0;
  font-size: 14px;
}

.about__links li a {
  color: inherit;
}

.about__links .button {
  display: inline-block;
  margin: 3px 0 0 0;
  padding: 5px 25px;
  color: #ffffff;
}

.looking-for {
  color: $theme-blue;
}

/*
==========================
LOADER
==========================
*/
.loader {
  @include loader;
}

/*
==========================
MISC
==========================
*/
.button {
  @include white-text-blue-background-button;
}
