/*
==========================
COLORS
==========================
*/
/*
==========================
FONTS
==========================
*/
/*
==========================
COMPONENTS
==========================
*/
/*
==========================
BUTTON
==========================
*/
.horizontal-line {
  border-top: 1px solid #d1d1d1;
  width: 1100px;
}

.recent-projects-header {
  text-align: center;
  color: #489be2;
  font-size: 34px;
  padding-top: 50px;
  padding-bottom: 30px;
}

.projectCard {
  height: 200px;
  width: 200px;
  background-color: grey;
}

.explore-projects-button {
  border: none;
  color: white;
  background-color: #489be2;
  padding: 15px;
  font-size: 14px;
  font-weight: 700;
  box-shadow: 0px 3px 6px #d1d1d1;
  text-transform: uppercase;
  margin: 75px;
}
