@import '_variables.scss';
/*
==========================
DOCUMENT SETUP
==========================
*/
.recent-projects-container {
  @include html-body-fontfamily;
}
/*
==========================
HEADER & HORIZONTAL LINE
==========================
*/
.horizontal-line {
  @include hrline;
}
.recent-projects-header {
  text-align: center;
  color: $theme-blue;
  font-size: $landing-header-size;
  padding-top: 80px;
  padding-bottom: 50px;
  font-weight: 700;
}
/*
==========================
PROJECT
==========================
*/
.explore-projects-button {
  @include white-text-blue-background-button;
  margin: 60px auto;
  display: block;
  width: 200px;
  text-align: center;
}
