/*
==========================
COLORS
==========================
*/
/*
==========================
FONTS
==========================
*/
/*
==========================
COMPONENTS
==========================
*/
.recent-projects-header {
  text-align: center;
  color: #489be2;
}

.projectCard {
  height: 200px;
  width: 200px;
  background-color: grey;
}

.explore-projects-button {
  border: none;
  box-shadow: 0px 3px 6px #d1d1d1;
  background-color: #489be2;
  vertical-align: middle;
  margin: 2%;
  color: white;
  width: 175px;
  height: 31px;
}
