@import '_variables.scss';
/*
==========================
CONTAINER
==========================
*/
.redline-container {
  width: 100vw;
  height: 100vh;
  /* background ref: http://lea.verou.me/css3patterns/#seigaiha */
  background-color: #d1d1d1;
  background-image: radial-gradient(
      circle at 100% 150%,
      #d1d1d1 24%,
      white 25%,
      white 28%,
      #d1d1d1 29%,
      #d1d1d1 36%,
      white 36%,
      white 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 0 150%,
      #d1d1d1 24%,
      white 25%,
      white 28%,
      #d1d1d1 29%,
      #d1d1d1 36%,
      white 36%,
      white 40%,
      transparent 40%,
      transparent
    ),
    radial-gradient(
      circle at 50% 100%,
      white 10%,
      #d1d1d1 11%,
      #d1d1d1 23%,
      white 24%,
      white 30%,
      #d1d1d1 31%,
      #d1d1d1 43%,
      white 44%,
      white 50%,
      #d1d1d1 51%,
      #d1d1d1 63%,
      white 64%,
      white 71%,
      transparent 71%,
      transparent
    ),
    radial-gradient(
      circle at 100% 50%,
      white 5%,
      #d1d1d1 6%,
      #d1d1d1 15%,
      white 16%,
      white 20%,
      #d1d1d1 21%,
      #d1d1d1 30%,
      white 31%,
      white 35%,
      #d1d1d1 36%,
      #d1d1d1 45%,
      white 46%,
      white 49%,
      transparent 50%,
      transparent
    ),
    radial-gradient(
      circle at 0 50%,
      white 5%,
      #d1d1d1 6%,
      #d1d1d1 15%,
      white 16%,
      white 20%,
      #d1d1d1 21%,
      #d1d1d1 30%,
      white 31%,
      white 35%,
      #d1d1d1 36%,
      #d1d1d1 45%,
      white 46%,
      white 49%,
      transparent 50%,
      transparent
    );
  background-size: 100px 50px;
  display: flex;
  flex-direction: column;
}
/* ==========================
CANVAS
========================== */
.redline-canvas {
  padding-top: 25px;
}
/* ==========================
IMAGE
========================== */
.redline-image-container {
  margin: 0 auto;
  position: relative;
  width: 1280px;
  background: #d1d1d1;
  z-index: $redline-image-container-z;
}
.redline-image {
  width: 100%;
  height: auto;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.redline-comments {
  position: absolute;
  width: 100%;
  height: 100%;
}
/* ==========================
TOOLBAR
========================== */
.toolbar {
  height: 50px;
  display: flex;
  justify-content: center;
  background: #2b353d;
}
.toolbar__tools {
  list-style: none;
}
.toolbar__tool {
  display: inline-block;
  margin: 0 8px;
  color: #ffffff;
}
.toolbar__tool--active {
  color: #489be2;
}
.toolbar__message {
  color: white;
}
/* ==========================
ANNOTATION
========================== */
.redline-annotations {
  position: absolute;
  height: 100%;
  z-index: 10;
  margin: 0 auto;
  position: relative;
  width: 1280px;
}
.annotation-rectangle {
  display: flex;
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(127, 196, 253, 0.5);
  border: 2px solid #2699fb;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  align-items: center;
  justify-content: center;
  z-index: 11;
}
.annotation-circle {
  position: absolute;
  width: 42px;
  height: 42px;
  background: #2699fb;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}
.annotation-initials {
  color: white;
  font-weight: 600;
  font-size: 0.6rem;
}
/* ==========================
COMMENT BOX
========================== */
.comment-box {
  position: absolute;
  display: flex;
  z-index: 10;
  flex-direction: column;
  background: #ffffff;
  border-radius: 5px;
  left: -250px;
  top: -5px;
  width: 200px;
  padding: 5px 20px 41px 15px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, 'Varela Round',
    sans-serif;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.comment-box:after {
  content: '';
  position: absolute;
  z-index: 10;
  top: 20px;
  right: -5px;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 1px;
  transform: rotate(-45deg);
  box-shadow: 2px 3px 3px -1px rgba(0, 0, 0, 0.16);
}
.comment-box__toolbar {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin: 5px 0;
}
.comment-box__resolve {
  color: #489be2;
  display: inline-block;
  font-size: 0.75rem;
  border: 1px solid #489be2;
  border-radius: 3px;
  padding: 1px 4px;
  margin-right: 8px;
}
.comment-box__trash {
  color: #2b353d;
}
.comment-box__comment {
  display: flex;
  padding-top: 10px;
}
.comment-box__name {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  font-weight: bold;
}
.comment-box__timestamp {
  color: #2b353d;
  padding: 0 5px;
  font-size: 0.5rem;
  margin: auto 5px;
  font-weight: normal;
}
.comment-box__menu {
  color: #d9d9d9;
  height: 15px;
  svg {
    float: right;
  }
}
.comment-box__body {
  margin: 5px 0 0 0;
  padding: 0;
  font-size: 0.75rem;
  color: #2b353d;
}
.comment-box__input {
  position: absolute;
  outline: none;
  bottom: 15px;
  width: calc(100% - 36px);
}
.comment-box__profile_picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #d1d1d1;
  margin: 0 8px 0 0;
}
