@import "_variables.scss";

/*
==========================
LOGIN SCREEN
==========================
*/

.popupScreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    z-index: 5; //border-radius: 11%;
    @include login-register-container;
}

.extAuthBtn {
    width: 325px;
    height: 35px;
    margin: 15px;
    text-align: left;
    background-color: white;
    border: 1px solid $light-grey;
    font-size: 11px;
    color: $light-grey;
    padding: auto;
}
.extAuthIcon {
    object-fit: cover;
    width: 24px;
    height: 24px;
}


.emailDiv {
    padding-top: 10%;
    margin: 2%;
}

.passwordDiv {
    margin: 2%;
}