@import '_variables.scss';
/*
==========================
OVERALL GRID CONTAINER
==========================
*/
.settings-container {
  max-width: 1080px;
  font-family: $font;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-template-areas: 'm i i i i';
  grid-gap: 40px;
}
/*
==========================
SETTINGS LEFT_HAND MENU
==========================
*/
.settings-menu-div {
  grid-area: m;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.settings-profile-image {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.personal-details-button,
.public-profile-button {
  border: none;
  height: 77px;
  width: 150px;
  background-color: white;
  vertical-align: middle;
  max-height: 45px;
  color: $dark-grey;
}

.public-profile-button {
  border-bottom: 1px solid $light-grey;
}

.personal-details-button {
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
}
/*
==========================
SETTINGS UPDATE PORTION
==========================
*/
.settings-info-div {
  font-family: $font;
  color: $dark-grey;
  grid-area: i;
  box-shadow: $box-shadow;
}

.settings-headers {
  color: $dark-grey;
  border-bottom: 1px solid $light-grey;
}
.settings-subhead-text {
  color: $dark-grey;
  font-weight: 700;
  font-size: 20px;
}

.settings-labels,
.settings-labels-roles {
  color: $dark-grey;
  font-size: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
}

.settings-labels {
  grid-template-areas: 'l i i i i';
}

.updateUserLabel {
  font-size: 16px;
  margin-top: 25px;
  font-weight: 500;
}

.info-container {
  margin: 5%;
}

.settings-textarea {
  border: 1px solid $light-grey;
  resize: vertical;
  min-height: 60px;
  max-height: 100px;
}

.settings-input {
  border: 1px solid $light-grey;
  height: 30px;
}

.settings-input,
.settings-textarea {
  margin-bottom: 20px;
  margin-top: 20px;
  grid-area: i;
  color: $dark-grey;
  font-family: $font;
  font-size: 14px;
}

/*
==========================
ROLES OPTION BUTTONS
==========================
*/
.settings-labels-roles {
  grid-template-areas: 'l a a b b';
  grid-gap: 5px;
}

.settings-roles-option-a {
  grid-area: a;
}

.settings-roles-option-b {
  grid-area: b;
}

.settings-roles-option-a,
.settings-roles-option-b {
  @include white-text-blue-background-button;
  margin-bottom: 20px;
  margin-top: 20px;
}

.options-button-disabled {
  opacity: 0.6;
}
/*
==========================
SUBMIT BUTTONS
==========================
*/
.personal-details-save-button,
.public-profile-save-button {
  @include white-text-blue-background-button;
}

.update-profile-btn {
  margin: 0 auto;
  display: block;
  text-align: center;
}

/*
==========================
SKILLS
==========================
*/
.skill-container {
  display: inline-block;
  border: 1px solid $theme-blue;
  padding: 3px;
  margin-right: 5px;
}

.remove-tag-btn {
  cursor: pointer;
}

.chosen-skills-grid-container {
  grid-area: i;
}
