/*
==========================
COLORS
==========================
*/
/*
==========================
FONTS
==========================
*/
/*
==========================
COMPONENTS
==========================
*/
/*
==========================
COMPONENTS
==========================
*/
.team-collaboration-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: '. i t .';
}

/*
==========================
TEXT
==========================
*/
.team-collaboration-text {
  grid-area: t;
  color: #489be2;
}

/*
==========================
IMAGE
==========================
*/
.team-collaboration-image-div {
  grid-area: i;
}

.team-collaboration-imac {
  flex: 100%;
  max-width: 100%;
}
