@import "_variables.scss";

/*
==========================
COMPONENTS
==========================
*/
.team-collaboration-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        ". i t ."
}

/*
==========================
TEXT
==========================
*/
.team-collaboration-text{
grid-area: t;
color: $theme-blue;
}


/*
==========================
IMAGE
==========================
*/
.team-collaboration-image-div{
grid-area: i;

}

.team-collaboration-imac{
    flex: 100%;
    max-width: 100%;
}